{% extends 'myapp1/base.html' %}
{% load static %}

{% block title %}Герои{% endblock %}

{% block content %}
  <div class="staff1">
    <h1>Герои</h1>
  </div>

  <div class="heroes">
    <h3>Crystal maiden</h3>
    <img src="{% static 'myapp1/img/cm.jpg' %}" alt="">
    <h4>1 скилл Crystal Nova:
Обдаёт выбранную область морозным ветром, который наносит врагам урон и замедляет их передвижение и атаку.</h4>
    <h4>2 скилл Frostbite:
Заковывает противника в лёд, нанося ему периодический урон и
      запрещая двигаться и атаковать. Действует 10 секунд на крипов 6-го уровня или ниже.</h4>
    <h4>3 скилл
Arcane Aura:
Увеличивает восстановление маны у всех союзников на карте.
      Действует в 2 раза сильнее на союзников в радиусе 1200 и в 4 раза сильнее — на владельца способности.</h4>
    <h4>
      4 скилл
Freezing Field:
На 10 сек. окружает героя случайными ледяными взрывами, замедляющими врагов и
      наносящими большой урон. На время действия способности герой получает дополнительную броню.
    </h4>
  </div>

  <div class="heroes">
    <h3>Shadow fiend</h3>
    <img src="{% static 'myapp1/img/sf.jpg' %}" alt="">
    <h4>1 скилл
Shadowraze:
Герой опустошает участок земли прямо перед собой, нанося урон всем врагам в зоне действия. Накладывает
        на жертву складывающийся эффект, увеличивающий урон от этой способности с каждым её попаданием.</h4>
    <h4>2 скилл
Necromastery:
Герой крадёт душу каждого убитого врага, получая бонус к атаке. После смерти выпускает 40% из них.</h4>
    <h4>3 скилл
Presence of the Dark Lord:
Присутствие героя снижает броню ближайших врагов.</h4>
    <h4>4 скилл
Requiem of Souls:
Герой выпускает собранные души в волнах демонической энергии. Существа возле него могут получить урон от нескольких волн. Замедляет передвижение врагов и накладывает на них страх на 2,7 сек. за каждую задетую волну.
        Создаёт одну волну энергии за каждую 1-ну душу, захваченные с помощью Necromastery.
    </h4>
  </div>

  <div class="heroes">
    <h3>Juggernaut</h3>
    <img src="{% static 'myapp1/img/jg.jpg' %}" alt="">
    <h4>1 скилл
Blade Fury:
Герой крутится в вихре сокрушительных ударов клинком,
        становясь невосприимчивым к магии и нанося урон врагам поблизости.</h4>
    <h4>2 скилл
Healing Ward:
Призывает тотем, лечащий всех союзников неподалёку и передвигающийся со скоростью .
        Объём лечения зависит от максимального здоровья союзника. Действует 25 сек.</h4>
    <h4>3 скилл
Blade Dance:
Дает герою шанс нанести атакой критический урон.</h4>
    <h4>4 скилл
Omnislash:
Герой прыгает к указанному врагу, а затем с повышенной скоростью атакует его
        и ближайших противников. На время действия способности герой становится неуязвимым.
    </h4>
  </div>

  <div class="heroes">
    <h3>Warlock</h3>
    <img src="{% static 'myapp1/img/w.jpg' %}" alt="">
    <h4>1 скилл
Fatal Bonds:
Соединяет несколько врагов магической связью,
        в результате чего часть урона, полученного любым из них, наносится и остальным.</h4>
    <h4>2 скилл
Shadow Word:
Герой шепчет заклинание, постепенно излечивая союзника или нанося урон врагу.</h4>
    <h4>3 скилл
Upheaval:
Мощный замедляющий поток энергии, со временем становящийся сильнее. Действует до 10/12/14/16 секунд.
        Эффект сохраняется в течение 3 секунд после того, как враг покинул зону действия или заклинание прервалось.</h4>
    <h4>4 скилл
Chaotic Offering:
Вызывает из недр земли голема, оглушающего врагов на 1 секунду. Голем живёт сек.,
        получает меньше урона от заклинаний, обжигает всех врагов вокруг и имеет уникальный эффект атаки.
    </h4>
  </div>

  <div class="heroes">
    <h3>Templar Assasin</h3>
    <img src="{% static 'myapp1/img/tm.jpg' %}" alt="">
    <h4>1 скилл
Refraction:
Герой становятся неуловимым, избегая любого урона и нанося больше урона атаками.
        Эти эффекты действуют ограниченное число раз и считаются раздельно.</h4>
    <h4>2 скилл
Meld:
Герой становится невидимым до тех пор, пока не сдвинется с места.
        Если прервать невидимость атакой по врагу, она нанесёт дополнительный урон и на 12 сек. уменьшит броню жертвы.</h4>
    <h4>3 скилл
Psi Blades:
Псионические клинки героя насквозь пробивают цель атаки, нанося полный урон тем,
        кто стоит позади неё. Также способность увеличивает дальность атаки героя.</h4>
    <h4>4 скилл
Trap:
Приводит в действие ближайшую ловушку, замедляя врагов в зоне ее действия.
    </h4>
  </div>


{% endblock %}